name: medfe
mode: train
arch:
  type: medfe
  init_args:
    init_type: normal
    init_gain: 0.2
  encoder:
    type: medfe
    name: Encoder
    input_nc: 4
    output_nc: 3
    ngf: 64
    use_dropout: false
  decoder:
    type: medfe
    name: Decoder
    input_nc: 3
    output_nc: 3
    ngf: 64
    use_dropout: false
  mask_encoder:
    type: medfe
    name: Encoder
    input_nc: 3
    output_nc: 1
    ngf: 64
    use_dropout: false
  mask_decoder:
    type: medfe
    name: Decoder
    input_nc: 1
    output_nc: 1
    ngf: 64
    use_dropout: false
  pc_block:
    type: pc_conv
    name: PCconv
  discriminator_gt:
    type: discriminator
    name: NLayerDiscriminator
    input_nc: 3
    ndf: 64
    n_layers: 3
    use_spectral: true
    use_sigmoid: false
  discriminator_mask:
    type: discriminator
    name: NLayerDiscriminator
    input_nc: 1
    ndf: 64
    n_layers: 3
    use_spectral: true
    use_sigmoid: false
loss:
  lambdaP:  1
  lambdaS: 0.1
  lambdaL1: 20
  lambdaGan: 5
trainer:
  optimizer:
    optimizer_type: "adam"
    lr: 0.0004
    beta1: 0.5
  scheduler:
    lr_policy: lambda
    # lamdata |setp |plateau |cosine
    start_epoch: 1
    niter: 20
    niter_decay: 100
  save_step_freq: 100000
  continue_train: false
  # continue_train的时候需要load epoch参数
#  load_epoch: 0
  display_freq: 63
  print_freq: 63
  save_dir: "./checkpoints/medfe"
  log_dir: "./tensorboard/medfe"

datasets:
  train:
    dataset:
      type: AlignedMaskDataset
      args:
        data_root: /data/zhoubingcheng/gan_datasets/gan_aligned_crop_data_with_mask_big
    loader:
      batch_size: 1
      shuffle: false
      pin_memory: true
      num_workers: 16