name: test_medfe
mode: train
arch:
  type: medfe
  encoder:
    type: medfe
    name: Encoder
    input_nc: 3
    output_nc: 3
    ngf: 64
    use_dropout: false
    init_args:
      init_type: normal
      init_gain: 0.2
  decoder:
    type: medfe
    name: Decoder
    input_nc: 3
    output_nc: 3
    ngf: 64
    use_dropout: false
    init_args:
      init_type: normal
      init_gain: 0.2
  pc_block:
    type: pc_conv
    name: PCconv
    init_args:
      init_type: normal
      init_gain: 0.2
  discriminator_mask:
    type: discriminator
    name: NLayerDiscriminator
    input_nc: 3
    ndf: 64
    n_layers_D: 3
    use_sigmoid: false
    init_args:
      init_type: normal
      init_gain: 0.2
  discriminator_gt:
    type: discriminator
    name: NLayerDiscriminator
    input_nc: 3
    ndf: 64
    n_layers_D: 3
    use_sigmoid: false
    init_args:
      init_type: normal
      init_gain: 0.2
loss:
  lambdaP:  0.2
  lambdaS: 2
  lambdaL1: 10
  lambdaGan: 0.2
trainer:
  optimizer:
    optimizer_type: "adam"
    lr: 0.0002
    beta1: 0.5
  scheduler:
    lr_policy: lambda
    # lamdata |setp |plateau |cosine
    start_epoch: 1
    niter: 20
    niter_decay: 100

  save_epoch_freq: 1
  continuer_train: false
  # continue_train的时候需要load epoch参数
#  load_epoch: 0
  save_dir: "./checkpoints/test_medfe"

tensorboard:
  display_freq: 100
  print_freq: 100


